.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
